<%=render :partial=>"shared/error", :locals=>{ :error_text => @error_text }%>

<% form_tag("/login") do %>

	<%if OauthConnect.has_facebook?%>
		<div class="row facebookLogin">
			<label for="full_name" class="label"><%=t("account.facebook.login.label").capitalize%>
			</label>
			<a href="<%=connect_account_facebook_account_path%>" title="<%=t("account.facebook.login.button")%>" rel="nofollow">
				<%=t("account.facebook.login.button")%>
			</a>
		</div>
	<%end%>

	<div class="row">
		<label for="full_name" class="label"><%=t("form.profile.labels.username").capitalize%>	
			<span class="required">*</span>
		</label>
		<%= text_field_tag :user_name %>
	</div>

	<div class="row">
		<label for="url" class="label"><%=t("form.profile.labels.password").capitalize%>
			<span class="required">*</span>
		</label>
		<%= password_field_tag :password %>
	</div>

	<div class="row">
		<label>&nbsp;</label>
		<input type="submit" name="submit" value="<%=t("account.login").capitalize%>">
	</div>

<%end%>