<div class="formContainer">
	
	<div class="formHeading">
		<h2>
			<%=t("account.reset_password").capitalize%>
		</h2>
	</div>
	
	<div class="formDescription">
		
		<p>
			<div class="required"><span>*</span><%=t("form.required").capitalize%></div>
		</p>
		
	</div>
	
	<div class="formBody">
		<%=render :partial=>"shared/error", :locals=>{ :error_text => @error_text }%>
	
		<% form_tag("/reset_password/#{params[:temp]}") do %>

			<div class="row">
				<label for="q" class="label"><%=t("form.password").capitalize%>	
					<span class="required">*</span>
				</label>
				<%= password_field_tag :password %>
			</div>

			<div class="row">
				<label for="q" class="label"><%=t("form.confirmpassword").capitalize%>	
					<span class="required">*</span>
				</label>
				<%= password_field_tag :confirm_password %>
			</div>

			<div class="row">
				<label>&nbsp;</label>
				<input type="submit" name="submit" value="<%=t("form.submit").capitalize%>">
			</div>

		<%end%>
	</div>

</div>