<%apply_fragment ["comment_list_header_", comment, comment.user, show_association, is_admin?, show_replies] do %>
	<div class="comment <%="spam" if comment.spam%> <%="commentLevel#{comment.level}" if comment.level && comment.level>0 && show_replies%>" id="comment_<%=comment.id%>">
		<%=comment.body%>
		<div class="commentMetaData">
			<%if show_association%>
				<%=link_to "#{comment.commentable.title[0..20].gsub(/\w+$/, '')}...", comment.commentable.permalink%>
				<span class="commentMetaDataSeparator">|</span>
			<%end%>
			<%=t("common.comment.postedby").capitalize%> <%=comment.user ? link_to(comment.user.user_name, profile_path(comment.user)) : comment.full_name%>
<%end%>
<%apply_fragment ["comment_list_time_", comment, comment.user, is_admin?, show_replies], { :expires_in => CACHE_TIMEOUT } do %>
			<span class="commentMetaDataSeparator">|</span>
			<%=time_ago_in_words(comment.created_at)%>
			<%unless !@current_user || !show_replies || comment.level>=2%>
				<span class="commentMetaDataSeparator">|</span>
				<span id="replyToComment<%=comment.id%>-<%=comment.level ? comment.level.to_i+1 : 1%>" class="replyButton"><%=t("common.comment.reply")%></span>
			<%end%>
		</div>
	</div>
	<div id="replyForm<%=comment.id%>"></div>
<%end%>
<%=render :partial => "shared/admin_comments_small", :locals =>{ :comment => comment } %>
<%=render :partial => "comments/list", :locals => { :comments => comment.replies.all, :show_association => false, :level => (comment.level+1) } if comment.replies.count>0 && show_replies%>