<!-- LANDING PAGE -->
<div class="searchPage">
	<div class="leftSide">
		
		<ul class="tabHeader">
			<li class="tab<%if @tab=='posts'%>Selected<%end%>"><a href="/search/<%=@search_term%>/posts" title="<%=t("common.blog.display")%>"><%=t("common.blog.display").pluralize.capitalize%></a></li>
			<li class="tab<%if @tab=='pages'%>Selected<%end%>"><a href="/search/<%=@search_term%>/pages" title="<%=t("common.page.display").capitalize%>"><%=t("common.page.display").pluralize.capitalize%></a></li>
			<li class="tab<%if @tab=='comments'%>Selected<%end%>"><a href="/search/<%=@search_term%>/comments" title="<%=t("common.comment.display").capitalize%>"><%=t("common.comment.display").pluralize.capitalize%></a></li>
		</ul>
		
		<div class="tabBody">
			<%= render :partial => "posts/list", :locals => { :posts => @posts, :show_pagination => true, :cache_key => "landing_page", :hide_header => true }if @tab == 'posts'%>
			<%= render :partial => "pages/list", :locals => { :pages => @pages, :show_association => true, :show_pagination => true, :cache_key => "landing_page", :hide_header => true } if @tab == 'pages'%>
			<%= render :partial => "comments/list", :locals => { :comments => @comments, :show_association => true, :show_pagination => true, :cache_key => "landing_page", :hide_header => true } if @tab == 'comments'%>
		</div>

	</div>
	
	<div class="rightSide">
	</div>
</div>