<p><%=t("notifier.account_confirmation.subject").gsub('SITE_NAME', SETTINGS[:site][:name])%>!</p>

<p><%=t("notifier.account_confirmation.body").gsub('USER_NAME',@user.user_name).gsub('PASSWORD',@user.password)%></p>

<p><%=t("notifier.signature.regards")%>,</p>

<p><%=t("notifier.signature.team")%><br/>
<%=SETTINGS[:site][:host]%></p>