<p><%=t("notifier.comment.new_reply").gsub("USERNAME", @comment.author_name).gsub("TYPE", @commentable[:type])%> - '<%=link_to @commentable[:title], @commentable[:permalink]%>'</p>

<p><%=t("notifier.comment.read_comment")%> <%=link_to @commentable[:title], "#{@commentable[:permalink]}#comment_#{@comment.id}"%></p>

<p><%=t("notifier.signature.regards")%>,</p>

<p><%=t("notifier.signature.team")%><br/>
<%=SETTINGS[:site][:host]%></p>