<p><%=t("notifier.new_post_update.subject").gsub('SITE_NAME',SETTINGS[:site][:name])%></p>

<p>
	<strong><%=t("common.blog.display").capitalize%></strong> <%=@post.title%> - <%=link_to @post.permalink, @post.permalink%>
	<%unless @post.published?%>
		<br/><br/>
		<em><%=t("notifier.new_post_update.body")%> - <%=link_to t("admin.publish").capitalize, publish_post_path(@post, {:only_path=>false}), :method => :put%></em>
	<%end%>
</p>

<p><%=t("notifier.signature.regards")%>,</p>

<p><%=t("notifier.signature.team")%><br/>
<%=SETTINGS[:site][:host]%></p>