<p>Nuevo Evento :: <%=SETTINGS[:site][:name]%></p>

<p>
	<strong>Evento:</strong> <%=@event.title%> - <%=link_to @event.permalink, @event.permalink%>
	<%unless @event.published?%>
		<br/><br/>
		<em>Usted necesidad de publicar el evento a disposición del público - <%=link_to t("admin.publish").capitalize, publish_event_path(@event), :method => :put%></em>
	<%end%>
</p>

<p>Atentamente,</p>

<p><%=SETTINGS[:site][:name]%><br/>
http://www.<%=SETTINGS[:site][:name].downcase%>.com</p>