<p><%=t("notifier.new_password.body.part1").gsub('PASSWORD', @user.temporary_password)%></p>

<p><%=t("notifier.new_password.body.part2")%></p>

<p><%=t("notifier.signature.regards")%>,</p>

<p><%=t("notifier.signature.team")%><br/>
<%=SETTINGS[:site][:host]%></p>