<p>Nuevo Oferta De Empleo :: <%=SETTINGS[:site][:name]%></p>

<p>
	<strong>Oferta De Empleo:</strong> <%=@job.title%> - <%=link_to @job.permalink, @job.permalink%>
	<%unless @job.published?%>
		<br/><br/>
		<em>Usted necesidad de publicar el oferta de empleo a disposición del público - <%=link_to t("admin.publish").capitalize, publish_job_path(@job), :method => :put%></em>
	<%end%>
</p>

<p>Atentamente,</p>

<p><%=SETTINGS[:site][:name]%><br/>
http://www.<%=SETTINGS[:site][:name].downcase%>.com</p>