<p>Nuevo Miembre :: <%=SETTINGS[:site][:name]%></p>

<p>
	<strong>Miembre:</strong> <%=@user.user_name%> - <%=link_to @user.permalink, @user.permalink%>
</p>

<p>Atentamente,</p>

<p><%=SETTINGS[:site][:name]%><br/>
http://www.<%=SETTINGS[:site][:name].downcase%>.com</p>