<%if @locale=="es"%>
	<p>Su contraseña temporal:<br/>
	Contraseña: <%=@user.temporary_password%></p>

	<p>Esta contraseña temporal sólo funciona una vez y se le pedirá que lo cambie de inmediato.</p>

	<p>Atentamente,</p>

	<p><%=SETTINGS[:site][:name]%><br/>
	http://www.<%=SETTINGS[:site][:name].downcase%>.com</p>	
<%else%>
	<p>Your new password is:<br/>
	Contraseña: <%=@user.temporary_password%></p>

	<p>This password only works one time and you will be prompted to change it immediately.</p>

	<p>Sincerely,</p>

	<p><%=SETTINGS[:site][:name]%><br/>
	http://www.<%=SETTINGS[:site][:name].downcase%>.com</p>
<%end%>