<p><%=t("notifier.new_user.subject").gsub('SITE_NAME',SETTINGS[:site][:name])%></p>

<p>
	<strong><%=t("notifier.new_user.body")%></strong> <%=@user.user_name%> - <%=link_to @user.permalink, @user.permalink%>
</p>

<p><%=t("notifier.signature.regards")%>,</p>

<p><%=t("notifier.signature.team")%><br/>
<%=SETTINGS[:site][:host]%></p>