<p>Congratulations on your fresh addition of a new site to MobileTools HablaCentro!</p>

<p>We have created your site <em><%=@site.name%></em>, which is found at <a href="<%=@site.url%>" title="<%=@site.url%>"><%=@site.url%></a>. We will now review your site and activate it when we have confirmed the credentials and the site. We will notify you by email.</p>

<p>When the site has been <strong>activated by us</strong>, any text message you send now starting with the keyword <em><%=@site.keyword%></em> will be posted to your site <%=@site.name%>. For any message which doesn't contain these keywords we will also post them to that site. Currently we only support one site per gateway, but an upcoming release will contain support more than one site per gateway.</p>

<p>Sincerely,</p>

<p>MobileTools HablaCentro<br/>
http://www.hablacentro.com<br/>
http://technology.hablacentro.com</p>