<h2 class="subscribeHeader"><%=t("common.subscribe").capitalize%></h2>

<div class="subscribeContainer">
	<%if SETTINGS[:social][:feedburner] && !SETTINGS[:social][:feedburner].blank?%>
		<form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=<%=SETTINGS[:social][:feedburner]%>', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" style="width:100%;clear:both;">
			<span class="subscribe"><%=t("common.enteremailaddress").capitalize%>:</span>
			<input type="text" style="width:210px" name="email"  style="float:left;"/>
			<input type="hidden" value="<%=SETTINGS[:social][:feedburner].downcase%>" name="uri"/>
			<input type="hidden" name="loc" value="en_US"/>
			<input name="submit" type="submit" alt="<%=t("form.submit")%>" value="<%=t("form.submit")%>" style="float:right;">
		</form>
	<%end%>
	
	<%unless SUBSCRIBE.empty?%>
		<div style="clear:both;padding-bottom:20px;"></div>

		<% col = 1%>
		<%SUBSCRIBE.each do |key, link|%>
			<%if col == 1%><ul class="subscribeLinkRow"><%end%>
			<li><a href="<%=link%>"><%=image_tag(SUBSCRIBE_IMAGES[key])%></a></li>
			<%col += 1%>
			<%if col == 4%></ul><%end%>
			<%col = 1 if col == 4%>
		<%end%>
		<%if col < 4 %></ul><%end%>
		
	<%end%>
	
	<ul class="rssFeeds">
		<li class="rssHeader">RSS Feeds</li>
		<li><a href="/posts.rss" title="<%=t("common.blog.display").pluralize%>"><%=t("common.blog.display").pluralize%></a></li>
	</ul>
	
</div>