<li<%unless p.published?%> class="unpublishedStory"<%end%>>
	<%apply_fragment [cache_key, "_pages_header_", p] do %>
		<div class="articleTitle">
			<%=link_to p.title, page_path(p)%>
		</div>
		<div class="articleBody">
			<%=strip_tags(p.excerpt?)%>
		</div>
	<%end%>
	<%apply_fragment [cache_key, "_pages_time_", p, is_admin?], { :expires_in => CACHE_TIMEOUT } do %>
		<div class="articleMetaData">
			<%if p.profile && (p.profile.show_profile_link? || is_admin?) %>
				<span class="messageAuthor">
					<%=t("common.blog.postedby").capitalize%> <%=link_to p.profile.user_name, profile_path(p.profile)%>
				</span>
				<span class="metaDataSeparator">|</span>
			<%end%>
			<span class="articleCreatedAt">
				<%=time_ago_in_words(p.created_at)%>
			</span>
	<%end%>
	<%apply_fragment [cache_key, "_pages_comments_", p] do %>
			<%if p.allow_comments%>
				<span class="metaDataSeparator">|</span>
				<span class="articleComments">
					<%=t("common.comment.display").pluralize%>: <%=p.all_comments.count(:conditions => 'spam=0')%>
				</span>
			<%end%>
		</div>
	<%end%>
	
	<%=render :partial => "shared/admin_links_small", :locals =>{
		:edit_link => edit_page_path(p),
		:show_publishing_links => true,
		:is_published => p.published?, 
		:unpublish_link => unpublish_page_path(p),
		:publish_link => publish_page_path(p),
		:feature_link => featured_page_path(p),
		:featured => p.featured,
		:set_as_home_page_link => set_as_home_page_page_path(p),
		:is_home_page => p.is_home_page,
		:delete_link => page_path(p),
		:confirm_message => t("common.page.delete")
	} if is_admin?%>
	
</li>