<div class="staticContainer">
	
	<div class="staticHeading">
		<h2>
			Terms Of Use
		</h2>
	</div>
	
	<div class="staticDescription">
	</div>
	
	<div class="staticBody">
		
		<p>Any person who registers as a user of the <%=SETTINGS[:site][:name]%> (a “user” or “you”) is bound by these Terms of use (“Terms”).</p>

		<h3>Prohibited content</h3>
		<p><%=SETTINGS[:site][:name]%> actively encourages freedom of speech and expression. However, in the interests of all users, the following content shall not be permitted:</p>

		<ul>
			<li>Content that is or may generally be considered by applicable law or in <%=SETTINGS[:site][:name]%>’s discretion as being pornographic, obscene or discriminatory (including (without limitation) racial, gender or religious slurs) and/or constituting hate speech; or speech designed to incite violence or hatred, or threats to cause bodily harm;</li>
			<li>Content that is illegal or unlawful;</li>
			<li>Content that is known to be false or misleading;</li>
			<li>Content that infringes or may infringe the intellectual property rights or privacy rights of any other person or infringes on a duty of non-disclosure to another person;</li>
			<li>Content promoting commercial products and/or services which has not previously been approved by <%=SETTINGS[:site][:name]%> in writing;</li>
			<li>Content that breaches or would breach the security of another user’s account or that gains or would gain access to any other person's computer, software, or data or otherwise threaten another person’s privacy, without the knowledge and consent of such person or otherwise contains destructive code;</li>
			<li>Content that may expose <%=SETTINGS[:site][:name]%> or any other users to harm or liability of any type;</li>
			<li>Impersonation of any person or entity, excluding the right to make use of an alias;</li>
			<li>Conducting an attack on or insulting person or entity.</li>
		</ul>
		
		<p><%=SETTINGS[:site][:name]%> reserves the right to remove any prohibited content and/or to suspend or terminate the right to use the with immediate effect if a user is suspected of posting prohibited content or performing any act which, in <%=SETTINGS[:site][:name]%>’s sole discretion, merits suspension or termination of the right of use.</p>
		
		<p>Due to the volume of responses <%=SETTINGS[:site][:name]%> will not be able to respond to or answer every idea posted. By submitting content, you hereby represent and warrant that:</p>

		<ul>
			<li>you either own or control all of the rights to the content submitted;</li>
			<li>you have obtained permission from the owner of the content to submit the information; and</li>
			<li>you have received all necessary permissions to submit such information to be used in accordance with these Terms.</li>
		</ul>
		
		<h3>Use of Content</h3>

		<p>By participating in the <%=SETTINGS[:site][:name]%> you expressly grant <%=SETTINGS[:site][:name]%> permission to use, reproduce, prepare derivative works and distribute any posted material or submissions.</p>
		
		<p>This and any content submitted contain, amongst others, the intellectual property rights of <%=SETTINGS[:site][:name]%> and/or its affiliates and no portion of this may be copied or disseminated by you without <%=SETTINGS[:site][:name]%>’s express prior written consent.</p>
			
		<p><%=SETTINGS[:site][:name]%> will give ideas such consideration as is warranted in its sole discretion and <%=SETTINGS[:site][:name]%> shall not be obliged to give reasons for rejecting an idea or to reveal <%=SETTINGS[:site][:name]%>’s follow up actions relating to the idea.</p>
		
		<p><%=SETTINGS[:site][:name]%> reserves the right to remove any material should an objection thereto be lodged or should <%=SETTINGS[:site][:name]%> suspect that an objection may be lodged.</p>
			
		<p>You warrant that the ideas you submit: (i) are original and accurate, and (ii) do not violate and will not violate the rights of any third party or any local, state, national or foreign law, including any right of publicity, right of privacy or any other proprietary right.</p>
		
		<h3>Moderation</h3>
		<p>All ideas and comments will be subject to moderation by <%=SETTINGS[:site][:name]%> at any time. Moderation criteria include but are not limited to:</p>
		
		<ul>
			<li>originality;</li>
			<li>practicality;</li>
			<li>prohibited content.</li>
		</ul>
			
		<p><%=SETTINGS[:site][:name]%> reserves the right to edit, amend or re-categorize any content submitted.</p>

		<h3>Privacy</h3>
		<p>We will not disclose your personal information to third parties, unless you have agreed to this or we are required to do so in terms of applicable laws.</p>

		<h3>Participation</h3>
		<p><%=SETTINGS[:site][:name]%> provides a for the use, benefit and enjoyment of its users. You take responsibility for comments under your username and use the information provided here at your own risk.</p>
		
		<p>Please contact us to report any content or behavior which you deem inappropriate.</p>

		<p>Any opinions expressed by users remain the sole opinion of that individual and should not be regarded as representing or expressing the views or opinions of <%=SETTINGS[:site][:name]%>.</p>

		<h3>Limitation of liability</h3>

		<p><%=SETTINGS[:site][:name]%> will not be liable under any circumstances whatsoever for any loss or damage arising out of or in connection with the reliance on any content posted on this (whether in contract, delict or otherwise).</p>
		
		<p><%=SETTINGS[:site][:name]%> makes no representations or warranties of any kind, express or implied, as to the content of the Blog.</p>
		
		<p>You agree to indemnify and hold <%=SETTINGS[:site][:name]%> harmless from any and all demands, liabilities, losses, costs and claims asserted against <%=SETTINGS[:site][:name]%> that may arise or result from your use of the Blog</p>
		
		<p>You hereby release and hold <%=SETTINGS[:site][:name]%> harmless with respect to any claims, damages, costs, losses and expenses, including reasonable attorneys' fees, due to or arising out of content you submit, post, transmit or make available, the use of such content by <%=SETTINGS[:site][:name]%> for any purpose, your use of the ideas your violation of these Terms, or the violation by you or <%=SETTINGS[:site][:name]%> of yours or any third party’s rights including, without limitation, intellectual property or other proprietary rights, rights of privacy and publicity, rights of attribution, or any other liability, direct or indirect, vicarious, contributory, or otherwise.</p>
		
		<h3>General</h3>
		
		<p><%=SETTINGS[:site][:name]%> reserves the right to amend the Terms from time to time at its sole discretion and such amendments shall be binding on you.</p>
		
		<p><%=SETTINGS[:site][:name]%> reserves the right to discontinue the Blog at any time.</p>

		<p>These Terms constitute the entire agreement between you and <%=SETTINGS[:site][:name]%> regarding the use of the Blog.</p>

		<h3>Governing law</h3>
		
		<p>This Agreement shall be governed in accordance with the laws of the United States of America, and its validity, construction and effect shall be governed by and enforced pursuant to the substantive laws of the United States of America. All legal proceedings in connection with the enforcement, construction, interpretation, breach or violation of this agreement shall be submitted to the courts in United States of America and that jurisdiction and venue are proper in such courts</p>
	</div>
	
</div>