<%=render :partial=>"shared/captcha_settings"%>
<%=render :partial=>"shared/error", :locals=>{ :object => @post }%>

<% form_for(@post, :html => { :multipart => true, :id => "postForm" }) do |f| %>
	
	<div class="row">
		<h2 class="heading"><%=t("common.blog.display").capitalize%></h2>
	</div>
	
	<div class="row">
		<label for="title" class="label"><%=t("form.blog.labels.title").capitalize%>
			<span class="required">*</span>
		</label>
		<%= f.text_field :title, :maxlength => 256, :size => 15 %>
	</div>
	
	<div class="row">
		<label for="categories" class="label"><%=t("common.category.display").capitalize%> 
			<span class="required">*</span>
		</label>
		<div class='sites'>
			<%for category in Category.find(:all, :order => 'name ASC')%>
				<%= check_box_tag "post[category_ids][]", category.id, (@post.categories.include?(category)), :class=>"radioButton" %>
				<span class="radioButtonText"><%=category.name%></span>
			<%end%>
		</div>
	</div>
	
	<div class="row">
		<label for="excerpt" class="label"><%=t("form.blog.labels.excerpt").capitalize%>
		</label>
		<%= ckeditor_textarea("post", "excerpt", :toolbar=>"SimpleBlog", :width => '444px', :height => '200px') %>
	</div>

	<div class="row">
		<label for="body" class="label"><%=t("form.blog.labels.post").capitalize%> 
			<span class="required">*</span>
		</label>
		<%= ckeditor_textarea("post", "body", :toolbar=>"SimpleBlog", :width => '444px', :height => '300px') %>
	</div>
	
	<div class="row">
		<label for="tags" class="label"><%=t("form.blog.labels.tags.display").capitalize%> 
			<span class="required">*</span>
			<span class="small"><%=t("form.blog.labels.tags.small").capitalize%></span>
		</label>
		<%= f.text_field :tag_list, :maxlength => 256, :size => 15 %>
		<%if Entity.active?%>
			<div class="suggestTags">
				<span id="suggestTagsPost"><%=t("form.blog.labels.tags.suggest")%> &raquo;</span>
				<%=image_tag("/images/ajax-loader.gif", :alt => 'ajax spinner', :id => "ajaxSpinner", :style => "display:none;") %>
			</div>
		<%end%>
	</div>
	
	<div class="row">
		<label for="allow_comments" class="label"><%=t("form.blog.labels.allowcomments").capitalize%>
		</label>
		<%= f.check_box :allow_comments, :class=>"normalCheckbox" %>
	</div>
	
	<%if @current_user%>
		<%if @current_user.twitter_account%>
			<div class="row">
				<label for="notify_twitter" class="label"><%=t("settings.notify.twitter").capitalize%>  
					<span class="required">*</span>
				</label>
				<%= f.check_box :notify_twitter, :class=>"normalCheckbox", :checked => (@post.notify_twitter ? @post.notify_twitter : @current_user.get_setting?('Twitter'))  %>
			</div>
		<%end%>
	
		<%if @current_user.facebook_account%>
			<div class="row">
				<label for="notify_facebook" class="label"><%=t("settings.notify.facebook").capitalize%>  
					<span class="required">*</span>
				</label>
				<%= f.check_box :notify_facebook, :class=>"normalCheckbox", :checked => (@post.notify_facebook ? @post.notify_facebook : @current_user.get_setting?('Facebook')) %>
			</div>
		<%end%>
	<%end%>
	
	<div class="row">
		<h2 class="heading"><%=t("form.blog.labels.multimedia.display").capitalize%></h2>
	</div>
	
	<div class="row">
		<label for="featured_image" class="label"><%=t("form.blog.labels.multimedia.image.display").capitalize%>
		</label>
		<%= f.file_field :featured_image %>
	</div>
	
	<div class="row">
		<label for="featured_image_caption" class="label"><%=t("form.blog.labels.multimedia.image.caption").capitalize%>
		</label>
		<%= f.text_field :featured_image_caption, :maxlength => 256, :size => 15 %>
	</div>

	<div class="row">
		<label for="embed_code" class="label"><%=t("form.blog.labels.multimedia.video.display").capitalize%> 
			<span class="small"><%=t("form.blog.labels.multimedia.video.small").capitalize%></span>
		</label>
		<%= f.text_area :embed_code, :rows => 8, :cols => 75 %>
	</div>

	<div class="row">
		<label>&nbsp;</label>
		<input type="submit" name="submit" value="<%=t("form.blog.labels.submit").capitalize%>" class="submitButton" />
	</div>

<%end%>