<div class="headerContainer">
	
	<ul class="loginContainer">
		<%=render :partial => "profiles/login_links"%>
	</ul>

	<div class="logoContainer"> 
		<a href="/"><%=SETTINGS[:site][:name]%></a>
		<%if SETTINGS[:site][:tagline]%><span><%=SETTINGS[:site][:tagline]%></span><%end%>
	</div>
	
	<div class="searchContainer">
		<% form_tag(search_path, :method => "post") do %>
			<%= text_field_tag(:q) %>
			<%= submit_tag(t("outer.search").capitalize) %>
		<% end %>
	</div>
	
</div>