<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		
		<%=render :partial => "layouts/head"%>
				
	</head>

	<body>  
		
		<%=render :partial=>"shared/embedded_menu" %>
		
		<div class="outerWrapper">
			
			<%= render :partial => "layouts/header"%>
			<%= render :partial => "layouts/navigation"%>
			
			<div class="innerWrapper">

				<%=render :partial=>"shared/flash", :locals => { :message => flash[:notice] }%>
				
				<div class="contentContainer">
					<%=yield %>
				</div>

			</div>
			
			<%= render :partial => "layouts/footer"%>

			<% if Rails.env.production? && !is_admin? %><%=render :partial => "shared/google_analytics"%><%end%>

		</div>
	</body>
</html>
