<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		
		<%=render :partial => "layouts/head"%>
		
	</head>

	<body>  
		
		<%=render :partial=>"shared/embedded_menu" %>
		
		<div id="wrapper">
			
			<%= render :partial => "layouts/header"%>
			
			<div id="container">

				<%=render :partial=>"shared/flash", :locals => { :message => flash[:notice] }%>
				
				<div id="content">
					<%=yield %>
				</div>
				
				<div id="footer">
					<ul>
						<li><%=t "outer.copyright"%> &copy; 2009-2010 <%=SETTINGS[:site][:name]%></li>
					</ul>
				</div>

				<% if Rails.env.production? && !is_admin? %><%=render :partial => "shared/google_analytics"%><%end%>

			</div>

		</div>
	</body>
</html>
